<page-header [isDisplayMenu]="false"
             [pageTitle]="(event.initials + ' event')"
             [buttons]="headerButtons"></page-header>

<!--https://pngtree.com/so/light-effect-->
<ion-content padding>


<!--

square with:
title and small image according to event type
start with end hour

------

description
guests list

map of location? or place name

start event button (for creator)

-->

  <div class="event-details-wrapper">
    <div class="intro">
      <ion-icon name="bowtie"></ion-icon>
      <ion-label class="event-date">{{event.startDate}}</ion-label>
    </div>

    <div class="details-wrapper">
      <div class="event-title">
        {{event.title}}
      </div>
      <div class="event-description">
        {{event.description || 'Take a photo of our best moments, we think your POV is a great reflection of this moment!'}}
      </div>
    </div>

  </div>

  <button  class="start-event-btn" ion-button full
           (click)="onStartEvent()"
           *ngIf="isCreatorEvent && !event.isPast && !event.isActive"
           [disabled]="!event.isActive" >
    <div>START EVENT!</div>
  </button>

  <button  class="start-event-btn" ion-button full
           (click)="onToggleJoinLeaveEvent()"
           *ngIf="!isCreatorEvent && !event.isPast && !event.isActive"
           [disabled]="event.isActive" >
    <div>{{participantEventStatus}} EVENT!</div>
  </button>

</ion-content>
