page-event-album-animation {

  ion-content {

    .scroll-content {
      margin-top: 0px !important;

      iframe {
        margin-top: 15%;
        border-top: 7px dashed white;
        border-bottom: 7px dashed white;
      }

      .topLeft1 {
        position: absolute;
        width: 30%;
        left: 10%;
        top: 25%;
      }
      .topLeft2 {
        position: absolute;
        width: 30%;
        left: 10%;
        top: 14%;
      }
      .topRight1 {
        position: absolute;
        width: 30%;
        right: 10%;
        top: 20%;
      }
      .topRight2 {
        position: absolute;
        width: 30%;
        right: 17%;
        top: 25%;
      }
      .btmLeft1 {
        position: absolute;
        width: 30%;
        left: 10%;
        top: 65%;
      }
      .btmLeft2 {
        position: absolute;
        width: 30%;
        left: 10%;
        top: 75%;
      }
      .btmRight1 {
        position: absolute;
        width: 30%;
        right: 10%;
        top: 75%;
      }
      .btmRight2 {
        position: absolute;
        width: 30%;
        right: 17%;
        top: 65%;
      }

    }

    .event-details {
      bottom: 20px;
      position: fixed;
      height: 26%;
      width: 100%;
      background-image: url('../../../assets/images/effects/fiveSmallSpotsBottomUp.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position-y: bottom;

      text-align: center;
      padding-top: 10%;
      font-size: 25px;
      font-weight: 600;
      color: wheat;
    }
  }

  .animation-wrapper {

  }

}
