<page-header [isDisplayMenu]="true" [pageTitle]="'Home'"></page-header>

<ion-content>

  <!--https://www.google.co.il/search?q=romatnic&tbm=isch&tbs=rimg:CfwP6-7brp7jIjj3YXLNhT5QgaEkQZ3-L4WoqywG_1QnFQzjoDafAVECFEQDP6KBTAPILBOLhT5bbW_1w05aDEkPdCQCoSCfdhcs2FPlCBEfuCwXWPvvjzKhIJoSRBnf4vhagRIPIJYT_1L3VUqEgmrLAb9CcVDOBE8vZDSBn8etioSCegNp8BUQIURESn29UIF3vZLKhIJAM_1ooFMA8gsRkl0e3EsxjvsqEgkE4uFPlttb_1BEg8glhP8vdVSoSCTTloMSQ90JAEW9fk92cml0N&tbo=u&sa=X&ved=0ahUKEwjb74ySu6XYAhULLMAKHZyqCIkQ9C8IHg&biw=1680&bih=919&dpr=1 -->
  <ion-card *ngFor="let event of cardsEvents"
            (click)="(isEventViewAvailable(event) || isEventUpdateAvailable(event)) && onEventOpen(event)">
    <img src="{{event.introPhotoURL || event.defaultIntroPhotoURL}}"
         class="{{isEventViewAvailable(event) || isEventUpdateAvailable(event) ? '' : 'disabled'}}"/>
    <div class="card-title">
      {{event.initials}}
      <ion-icon class="heart-separator" name="heart"></ion-icon>
      {{event.startDateStr}}
    </div>
    <div class="card-subtitle future" *ngIf="!event.isPast && !event.isActive">SAVE THE DATE!</div>
    <div class="card-subtitle present" *ngIf="event.isActive">SHARE YOUR MOMENT!</div>
    <div class="card-subtitle past" *ngIf="event.isPast">UNTIL NEXT TIME...</div>
    <ion-icon name="eye" class="view-album" *ngIf="isEventViewAvailable(event)"></ion-icon>
    <ion-icon name="images" class="update-album" *ngIf="isEventUpdateAvailable(event)"></ion-icon>
  </ion-card>

  <div class="empty-state" *ngIf="!cardsEvents.length">
    <ion-icon name="bowtie"></ion-icon>
    <div class="no-events">NO EVENTS</div>
    <button ion-button icon-left clear small (click)="onCreateNewEvent()">
      <div>CREATE NOW!</div>
    </button>
  </div>

  <ion-spinner class="events-spinner" name="dots" *ngIf="displaySpinner"></ion-spinner>

</ion-content>
