ion-header{
 &.pageHeader{
   .header-buttons-wrapper{
     position: absolute;
     right: 18px;
     top: 15px;
     .headerButton{
       font-size: 22px;
       margin-left: 6px;
       background: transparent;
       color: white;
     }
   }
 }
}
