<page-header [isDisplayMenu]="false" [pageTitle]="'Create new event'"></page-header>

<ion-content padding>

  <ion-slides pager #slides>

    <ion-slide class="step1">

      <ion-icon name="bowtie"></ion-icon>
      <ion-label class="event-date">{{event.startDate}}</ion-label>
      <!--separator-->
      <div class="event-date-separator">
      </div>

      <ion-list>
        <ion-item>
          <ion-label>Start Time</ion-label>
          <ion-datetime
            displayFormat="HH:mm"
            [(ngModel)]="eventStartHour">
          </ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>Event Type</ion-label>
          <ion-select interface="popover" [(ngModel)]="event.typeKey">
            <ion-option value="1">Wedding</ion-option>
            <ion-option value="-1">Other</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>Event Title</ion-label>
          <ion-input type="text" [(ngModel)]="event.title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Event Name Initials (For example: R&T)</ion-label>
          <ion-input type="text" [(ngModel)]="event.initials" maxlength="3"></ion-input>
        </ion-item>

        <ion-item>
          <ion-card (click)="onUploadEventCard()">
            <ion-icon class="upload-image" name="open"></ion-icon>
            <div class="card-title">EVENT CARD IMAGE
            </div>
          </ion-card>
        </ion-item>

      </ion-list>

    </ion-slide>

    <ion-slide class="step2">

      <ion-label class="event-title">
        {{event.title || 'Event Title'}}
        <ion-icon class="heart-icon" name="heart"></ion-icon>
        {{event.startDate}}
      </ion-label>
      <!--separator-->

      <img src="assets/images/saveTheDate.png" class="save-the-date"/>

      <ion-item>
        <ion-searchbar
          [(ngModel)]="autocomplete.query"
          [showCancelButton]="true"
          (ionInput)="onUpdateSearchPlace()"
          (ionCancel)="onCancelPlaceItem()"
          placeholder="Event's Location">
        </ion-searchbar>
        <ion-list class="autocomplete-locations" *ngIf="autocompleteItems.length">
          <ion-item *ngFor="let item of autocompleteItems"
                    (click)="onSelectPlaceItem(item)">
            {{ item.description }}
          </ion-item>
        </ion-list>
      </ion-item>


      <ion-item>
        <ion-textarea rows="2" maxLength="200" placeholder="Enter a short description"
                      [(ngModel)]="event.description"></ion-textarea>
      </ion-item>


      <ion-item>
        <ion-label>Invite Friends</ion-label>
        <ion-select multiple="true" cancelText="Cancel" okText="Done!" [(ngModel)]="invitedFriends"
                    (ionChange)="onInviteFriendsChanged()">
          <ion-option value="1">AMNON</ion-option>
          <ion-option value="2">MOTI</ion-option>
        </ion-select>
      </ion-item>

<!--      <ion-item>
        <ion-label *ngIf="event.location">Location</ion-label>
        <button ion-button icon-left clear full (click)="onAddEventLocation()">
          <ion-icon name="navigate"></ion-icon>
          ADD EVENT LOCATION
        </button>
      </ion-item>-->


    </ion-slide>

<!--
    <ion-slide class="step3">

      <button class="skip-btn" ion-button icon-right clear full
              (click)="onSkipSlide()">
        <div>SKIP</div>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>

      <div class="invited-friends-list">
        <ion-item>
          <ion-label>Invite Friends</ion-label>
          <ion-select multiple="true" cancelText="Cancel" okText="Done!" [(ngModel)]="invitedFriends"
                      (ionChange)="onInviteFriendsChanged()">
            <ion-option value="1">AMNON</ion-option>
            <ion-option value="2">MOTI</ion-option>
          </ion-select>
        </ion-item>


        <div>display selected friends here</div>

      </div>

    </ion-slide>
-->

    <ion-slide class="step4">

      <div class="beer-icons-wrapper">
        <ion-icon name="beer" class="left beer-icon"></ion-icon>
        <ion-icon class="right beer-icon" name="beer"></ion-icon>
      </div>

      <button class="create-event-btn" ion-button clear full (click)="onCreateEvent()" [disabled]="validateEvent()">
        <div>LET'S PARTY!</div>
      </button>

    </ion-slide>

  </ion-slides>

</ion-content>
