<div *ngIf="!appStoreReady && !appLoginRequired"
     class="splash-animation"
     style="width:100%; height: 100%; border:15px solid #F09700; margin: auto;">

  <!--set animation here-->
</div>

<span>
  <ion-menu *ngIf="appStoreReady" id="appMenu" [content]="content">
  <ion-toolbar *ngIf="appStoreReady">
    <ion-title>Menu</ion-title>
  </ion-toolbar>
  <ion-content *ngIf="appStoreReady">
    <ion-list >
      <button ion-item *ngFor="let p of menuPages" (click)="onMenuPage(p)">
         <ion-icon *ngIf="p.title === 'Sign out'" name="log-out"></ion-icon>
         <ion-icon *ngIf="p.title === 'Settings'" name="settings"></ion-icon>
         <ion-icon *ngIf="p.title === 'About App'" name="information-circle"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav #content id="nav" [root]="rootPage"></ion-nav>
</span>

