// http://ionicframework.com/docs/theming/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
*{
  font-family: 'Noto Sans', sans-serif;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/* app colors*/
$turquoise-light-color: #2CC0B2;
$turquoise-mid-color: #118690;
$blue-light-color: #488aff;
$blue-mid-color: #212660;
$blue-dark-color: #18162A;
$yellow-color: #FFC70F;
$orange-color: #F09700;
$red-color: #f53d3d;
$pink-color: #E44885;
$purple-color: #7750AD;
$green-light-color: #9EC93B;
$green-mid-color: #2B8D04;
$black-color: #1A0A15;

//hide all scrollbars
::-webkit-scrollbar {
  display: none;
}

ion-content{
    background: $blue-dark-color; /* For browsers that do not support gradients */
    //background: radial-gradient(circle, #488aff -113%, #18162A 69%);
    //background-position-y: -50px;
}

.menu-inner{
  ion-content {
    background: $blue-dark-color;
  }
}

ion-menu{
  ion-toolbar{
    .toolbar-background-md{
      background-color: $blue-light-color !important;
    }
  }

  ion-list{
    padding-top: 15px;
    .item-md{
      background-color: $blue-dark-color;
      color:$yellow-color;
      padding-right: 16px;
    }
   /* button{
      background-color: $blue-dark-color;
      color:$blue-light-color;
    }*/
  }
}

ion-content{
  margin-top: 50px;
}

.splash-animation{
  width:100%;
  height: 100%;
  border:15px solid #F09700;
  margin: auto;

  ion-card {
    position: absolute;
    top: 34%;
    left: 25%;

    &.card {
      &.card-md {
        width: 50%;
        margin: auto;
        background: wheat;
        border-radius: 50%;
      }
    }

    img {
      width: 140px;
      margin: 5px 5px 0px 20px;
    }
  }
  .app-name-wrapper {
    text-align: left;
    position: absolute;
    left: 22%;
    top: 80%;

    .app-name {
      color: white;
      font-size: 40px;
      text-shadow: 0px 0px 2px white;
      font-weight: 900;
      text-decoration: blink;
    }

    .app-description {
      color: white;
      font-size: 11px;
      font-weight: 900;
      padding-bottom: 12px;
    }
  }
}
.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.item-has-focus .item-inner{
  box-shadow: none !important;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
  box-shadow: none !important;
}
