// http://ionicframework.com/docs/theming/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
*{
  font-family: 'Noto Sans', sans-serif;
}
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/* app colors*/
$turquoise-light-color: #2CC0B2;
$turquoise-mid-color: #118690;
$blue-light-color: #488aff;
$blue-mid-color: #212660;
$blue-dark-color: #18162A;
$yellow-color: #FFC70F;
$orange-color: #F09700;
$red-color: #f53d3d;
$pink-color: #E44885;
$purple-color: #7750AD;
$green-light-color: #9EC93B;
$green-mid-color: #2B8D04;
$black-color: #1A0A15;

//hide all scrollbars
::-webkit-scrollbar {
  display: none;
}

ion-content{
    background: $blue-dark-color; /* For browsers that do not support gradients */
    //background: radial-gradient(circle, #488aff -113%, #18162A 69%);
    //background-position-y: -50px;
}

.menu-inner{
  ion-content {
    background: $blue-dark-color;
  }
}

ion-menu{
  ion-toolbar{
    .toolbar-background-md{
      background-color: $blue-light-color !important;
    }
  }

  ion-list{
    padding-top: 15px;
    .item-md{
      background-color: $blue-dark-color;
      color:$yellow-color;
      padding-right: 16px;
    }
   /* button{
      background-color: $blue-dark-color;
      color:$blue-light-color;
    }*/
  }
}

ion-content{
  margin-top: 50px;
}


//https://chriztalk.com/using-google-fonts-ionic-2/
//https://fonts.google.com/?selection.family=Aref+Ruqaa|Arvo|Faster+One|Fredericka+the+Great|Kurale|NTR|Zeyada
/*@font-face{
  font-family: AppFont;
  src: url('../assets/fonts/Aref_Ruqaa/ArefRuqaa-Regular.ttf') format('ttf');
}

*{
  font-family: AppFont;
}*/
