page-event-album-photo {

  ion-content {
    .scroll-content {
      margin-top: 0px !important;
    }
  }

  .photo-wrapper {
    text-align: center;
    img {
      width: 100%;
  }
    .heart-icon {
      opacity: 0;
      font-size: 15rem;
      color: $red-color;
      &.play-anim {
        transition: opacity 2s ease-in-out;
        opacity: 1;
        //animation: heart-anim 1s linear .5s;
      }
    }

    canvas {
      height: 100%;
      width: 100%;
      &.hideCanvas {
        display: none;
      }
    }
  }

  .bottom-menu {
    color: $black-color;
    height: 50px;
    position: absolute;
    width: 100%;
    background: white;
    bottom: 50px;
  }
}
