<page-header [isDisplayMenu]="false"
             [pageTitle]="isNewPhoto ? 'Add new photo to album!' : 'Photo Details'"
             [buttons]="headerButtons"></page-header>

<ion-content #pageWrapper>

  <div class="photo-wrapper">
    <img #photoPreview src="{{photo.fileURL}}"
         class="{{isNewPhoto ? 'hide' : ''}}"/>
    <canvas #photoPreviewCanvas  class="{{isNewPhoto ? '' : 'hide'}}"></canvas>
  </div>


  <div #toolsBar class="bottom-menu">

    <!--create component?-->
    <div class="design-toolbar" *ngIf="isNewPhoto">
      <!--photo design toolbar-->
    </div>


    <!--create component?-->
    <div class="tag-toolbar" *ngIf="!isNewPhoto">
      <!--photo tag toolbar-->
      <img *ngFor="let e of emojis" src="{{e.imagePath}}" (click)="onEmojiClick(e)"/>
    </div>
  </div>


</ion-content>
