<page-header [isDisplayMenu]="false"
             [pageTitle]="event.initials + ' Album'"
             [buttons]="headerButtons"></page-header>

<ion-content padding>


  <div class="event-album-grid" *ngIf="photosGridModel.length > 0">
    <div class="grid-row" *ngFor="let row of photosGridModel">
      <div class="grid-col {{col.class}}"*ngFor="let col of row">
        <img src="{{col.photo.fileThumbnailURL}}" (click)="onSelectPhoto(col.photo)" />
        <div class="my-emoji-wrapper">
          <ion-icon *ngIf="col.hasEmoji" name="pricetag">
          </ion-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="empty-state" *ngIf="photosGridModel.length == 0">
    empty!
    <div *ngIf="event.isActive">
      Be the first to upload a photo now!
    </div>
  </div>

</ion-content>
